
.display{
    display: grid;
    gap: 3px;
    padding: 20px;
}
@media (max-width: 600px) {
    .display {
      grid-template-columns: 1fr;
    }
  }
  
  /* Medium devices (Tablets): 2 cards per row */
  @media (min-width: 601px) and (max-width: 1024px) {
    .display {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* Large devices (Desktops): 4 cards per row */
  @media (min-width: 1025px) {
    .display {
      grid-template-columns: repeat(4, 1fr);
    }
  }